name: Build Desktop App
on:
  push:
    branches: [ "main" ] # Triggered when you push code to your main branch

jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest] # You can add macos-latest or ubuntu-latest later

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install dependencies
        run: npm install

      - name: build tauri app
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__ # This creates a "Release" for you
          releaseName: "eQet Release v__VERSION__"
          releaseBody: "Automated build from mobile."
          releaseDraft: true
          prerelease: false
